.DS_Store
__pycache__/
.idea/
/.vscode
/raw_data/*
/visualized_data/*
/libgptb/tmp/*
/libgptb/cache/*
/libgptb/log/*
/libgptb/model/*/__pycache__
/libgptb/data/dataset/*/__pycache__
/libgptb/__pycache__/
/dataset/ogbg_molhiv
/BZR
/AIDS
/Cora
/DD
/MCF-7
/MOLT-4
/MUTAG
/NCI1
/NCI109
/P388
/PROTEINS
/PTC_MR
/ZINC_full
/split/*
/reddit_threads
/github_stargazers
/slurm_logs
/logs
~/scratch/log
